DATABASE_URL=postgresql:your_database_url
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
RESEND_API_KEY=
APP_URL=http://localhost:3000
PORT=3000